<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="in.curos.cueprompter">

  <application
      android:name=".Application"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <provider
        android:name=".data.ScriptsProvider"
        android:authorities="@string/content_provider_authority"
        android:exported="false"/>

    <activity android:name=".AddScriptActivity">
    </activity>
    <activity android:name=".EditScriptActivity">
    </activity>
    <activity android:name=".TeleprompterActivity" android:theme="@style/TelePrompter">
    </activity>
  </application>

</manifest>